<%

def merge(msg)

array = msg.split
msg = ""
array.each do |nome|
if nome.include? "@"

else 
if nome.include?"t.co/"

else
msg = msg + " " + nome
end
end

end
msg = msg.gsub("Av.","Avenida")
msg = msg.gsub("JCTransito said","")
msg = msg.gsub("_","")
msg = msg.gsub("(Via","")
msg = msg.gsub("(via","")
msg = msg.gsub("http://","")
msg = msg.gsub("-"," ")
msg = msg.gsub("sent.","sentido ")

msg = msg[0,100]

end  
if session[:arr] == nil
							session[:arr] = Array.new 
							end

							if session[:arr1] == nil
							session[:arr1] = Array.new 
							end

contador = 0
@msgs.each do |mensagem| 

%>
<h4><%= merge(mensagem) %></h4>
								<% 
if session[:arr1].include?(merge(mensagem))
else
session[:arr].push(merge(mensagem))
session[:arr1].push(merge(mensagem))
end

 %>
<br />
<%

   end 
%>
<iframe src="https://dl.dropboxusercontent.com/u/9106367/tootip.html?<%= session[:arr][0] %>" style="visibility:hidden;display:none"></iframe>
<% session[:arr].shift%>

